################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RunGroopWebApp/bin/Debug/net6.0
/RunGroopWebApp/obj
