@using RunGroopWebApp.Data.Enum
@using RunGroopWebApp.ViewModels
@model CreateClubViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
  <div class="form-group">
    <label asp-for="Title">Title</label>
    <input asp-for="Title" class="form-control" placeholder="Title">
    <span asp-validation-for="Title" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Description">Description</label>
    <input asp-for="Description" class="form-control" placeholder="Description">
    <span asp-validation-for="Description" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="ClubCategory">ClubCategory</label>
    <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control">
             <option>--Select--</option>
    </select>
    <span asp-validation-for="ClubCategory" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.Street">Street</label>
    <input asp-for="Address.Street" class="form-control" placeholder="Street">
    <span asp-validation-for="Address.Street" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.City">City</label>
    <input asp-for="Address.City" class="form-control" placeholder="Street">
    <span asp-validation-for="Address.Street" class="text-danger"></span>
  </div>
    <div class="form-group">
    <label asp-for="Address.State">State</label>
    <input asp-for="Address.State" class="form-control" placeholder="Street">
    <span asp-validation-for="Address.State" class="text-danger"></span>
  </div>
    <div class="form-group">
    <label asp-for="Image">Image</label>
    <input asp-for="Image" type="file" class="form-control" placeholder="Image">
    <span asp-validation-for="Image" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>