@using RunGroopWebApp.ViewModels
@model RunningClubByState

<section class="container">
    <h1>Select your state</h1>
    <ul class="list-unstyled">
        @foreach (var val in Model.States)
        {
            <li>
                <a asp-controller="Club" asp-action="RunningClubsByCityDirectory" asp-route-state="@val.StateName">@val.StateName</a>
            </li>
        }
    </ul>
</section>


