@using RunGroopWebApp.ViewModels
@model RunningClubByCity

@{
    var cities = Model.Cities.DistinctBy(city => city.CityName);
}

<section class="container">
    <h1>Find running clubs in your city</h1>
    <ul class="list-unstyled">
        @foreach (var val in cities)
        {
            <li>
                <a asp-controller="Club" asp-action="ListClubsByCity" asp-route-state="@val.StateCode" asp-route-city="@val.CityName">@val.CityName, @val.StateCode</a>
            </li>
        }
    </ul>
</section>
