@using RunGroopWebApp.ViewModels
@model RunningClubByCity


<div class="col-6 col-lg-3">
                  <h6>Race Directory</h6>
              
@foreach(var val in Model.Cities)
{
    <ul class="list-unstyled">
                    <li>
    <a asp-controller="Club" asp-action="ListClubsByCity" asp-route-state="@val.StateCode" asp-route-city="@val.CityName">Running club in @val.CityName</a>
    </li>
    </ul>
}
</div>
