@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#logo-text {
    font-family: "Jua", sans-serif;
    font-size: 2rem;
    color: #02B875;
}

#logo-green {
    
    font-family: "Jua", sans-serif;
    font-size: 2rem;
}